
/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-center-top {
    display: flex;
    justify-content: start;
    align-items: top;
}
